# dependencies
/node_modules

# source control
/.github
README.md
/README

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode/launch.json
.vscode/settings.json
*.code-workspace

# tests
/tests
/.jest
jest.config.js